

@{
    ViewData["Title"] = "Address Page";
}

<link rel="stylesheet" href="~/css/table.css" type="text/css" />


<h1>Addresses</h1>

<form method="post" asp-controller="Address" asp-action="GetAddresses">
    Enter Customer Id :<input type="number" name="id"/>
    <button type="submit" >Get</button>
</form>